.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
}

.logo {
  font-size: 24px;
  color: #00e5ff;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links li {
  cursor: pointer;
  opacity: 0.8;
  transition: 0.3s;
}

.nav-links li:hover {
  opacity: 1;
  color: #00e5ff;
}

.nav-links a {
  text-decoration: none;
  color: white;
  opacity: 0.8;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #00e5ff;
  opacity: 1;
}
