* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #0d0d0d;
  color: #ffffff;
}

/* ---------- RESPONSIVE ---------- */

@media (max-width: 768px) {
  .navbar {
    padding: 15px 30px;
  }

  .nav-links {
    display: none;
  }

  .hero {
    padding: 40px 30px;
    text-align: center;
  }

  .hero-content h1 {
    font-size: 38px;
  }

  .hero-content h2 {
    font-size: 18px;
  }

  .skills,
  .projects,
  .certifications {
    padding: 60px 30px;
  }
}

@media (max-width: 480px) {
  .hero-content h1 {
    font-size: 32px;
  }

  .skills-title,
  .projects-title,
  .cert-title {
    font-size: 32px;
  }
}

html {
  scroll-behavior: smooth;
}
